.post_container {
  display: flex;
  flex-direction: column;
}

.post_small_description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px;
  border: 2px dotted #E0B8C6;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title {
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: #E0B8C6;
}

.date {
  font-size: 12px;
  color: #c190a1;
  align-self: flex-end;
}

.post_container {
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.post_container:hover {
  filter: drop-shadow(0px -6px 10px grey);
}

.post_container:hover .date {
  color: black;
}

.post_container:hover .title {
  color: black;
}

@media screen and (max-width:750px) {

  .post_container {
    max-width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .post_container {
    max-width: 80%;
  }

  .title {
    font-size: 16px;
  }
}