.navbar_container {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
}

.navbar_icon {
  display: none;
}

.navbar_title {
  font-size: 16px;
  letter-spacing: 5px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: black;
  opacity: 0.7;
  text-decoration: none;
}

.link {
  transition: color 0.2s ease-in-out;
}

.link:hover {
  text-decoration: 3px underline dotted #E0B8C6;
  color: #BA8497;
}

@media screen and (max-width:1000px) {
  .navbar_container {
    column-gap: 15px;
  }

  .navbar_title {
    font-size: 12px;
  }

}

@media screen and (max-width:750px) {
  .navbar_container>* {
    display: none;
  }

  .navbar_icon {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-color: aquamarine;
    align-self: flex-end;
  }
}