.form_wrapper {
  width: 80%;
  border: 2px solid #E0B8C6;
  padding: 30px;
  border-radius: 15px;
}

.form_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  border: 2px dotted #E0B8C6;
  border-radius: 5px;
  background-color: white;
}