.container {
  padding: 30px;
  display: grid;
  row-gap: 50px;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
}

.post_container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.post_title {
  align-self: center;
  font-size: 30px;
  border-bottom: 3px dotted #E0B8C6;
}

.photo_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 400px));
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: center;
}

.description {
  font-size: 18px;
}

@media screen and (max-width:1000px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .photo_container {
    grid-template-columns: repeat(1, minmax(150px, 400px))
  }
}